h1,h2,h3,h4 {
    font-family: "Inter", sans-serif;
    font-size: 550;
    color:var(--text)
}

.c-h1 {
    font-size: 42px;
    font-weight: 800;
}

.c-h2 {
    font-size: 32px;
    font-weight: 800;
}

.c-h3 {
    font-size: 28px;
    font-weight: 800;
}

.c-h4 {
    font-size: 24px;
    font-weight: 700;
}