/*
* This file contains color configuration for Nightfall application.
*/

:root {
    --bg-white:#fefefe;
    --bg-gray:#e6e6e6;

    --bg-primary:#fff;
    --bg-secondary:#f8f8f8;
    --bg-secondary-light:#fff;
    --bg-color:#8B5CF6;
    --bg-color-darker:#7c3aed;

    --text:#303030;
    --stroke-icon:#303030;
    --border-base:rgba(0, 0, 0, 0.75);
}

.dark {
    --bg-white:#fefefe;
    --bg-gray:#e6e6e6;

    --bg-primary:#1e1f22;
    --bg-secondary:#2b2d31;
    --bg-secondary-light:#404040;
    --bg-color:#8B5CF6;
    --bg-color-darker:#7c3aed;

    --text:#fff;
    --stroke-icon:#fff;
    --border-base:rgba(255, 255, 255, 0.25);
}